<div class="px-2">
    <div class="container-fluid d-flex justify-content-center py-1 text-white bg-white shadow-lg">
        <div class="container col-12 d-flex" style="margin:0;padding:0;">
            <div class="logo-block d-flex justify-content-center" style="margin:0;padding:0;">
                <img src="images/EPMA.png" class="img-fluid mt-3 mt-md-3" id="logo" alt="logo">
            </div>
            <div class="text-dark fw-bold text-center" style="margin:0;padding:0;">
                <p class="chapeau-text d-flex justify-content-center mt-1 mt-md-5" style="margin:0;padding:0;">
                    DIVISION URBAINE DE L'ENTREPREUNARIAT PETITES, MOYENNES ENTREPRISES ET ARTISANATS
                </p>
            </div>
            <div class="logo-block d-flex justify-content-center" style="margin:0;padding:0;">
                <img src="images/03Sfond.png" class="img-fluid mt-2 mt-md-2" id="logoKin" alt="logo">
            </div>
        </div>
    </div>
    <div class="nav py-2 bg-light d-flex justify-content-around rounded-bottom sticky-top">
        <div class="nav-item">
            <a href="/deconnect/logout" class="btn btn-danger"><i class="fa-solid fa-right-from-bracket fs-5"></i> Quitter</a>
        </div>
        <div class="nav-item">
            <a href="accueil" class="btn btn-primary"><i class="fa-solid fa-house fs-5"></i> Accueil</a>
        </div>
    </div>
</div>